/* CSS Variables */


/* Global Styles */


/* Header Styles */


/* Main Styles */


/* About Section */


/* Menu Section */


hr {
    height: 3px;
}

.item {
    display: flex;
    flex-direction: row;
}

.item p {
    display: inline-block;
}


.title {
    width: 75%;
}

.price {
    width: 25%;
}

/* Location and Hours Section */


/* Footer Section */